<h2>Edit Privacy Statement</h2>
<form action="/admin/save_privacy">
	<input type="hidden" name="id" value="<%= @privacy.id %>" />
	<textarea id="privacy_text" name="privacy_text" rows="20" cols="70"><%= @privacy.body %></textarea><br/>
	<input type="submit" value="Save" />
</form>
