<%= stylesheet_link_tag 'invites' %>

<h2>Invite Sent</h2>
<div id="invite_sent_message">
	You have successfully sent an invitation to <i><b><%= @invite.email %></b></i>
	<br/>
	with this message:<br/><br/>
	<b><%= @invite.message %></b>
</div>