
<div id="about" class="section cssbox"> 
	<div class="cssbox_head"> 
		<h4>&nbsp;</h4> 
	</div> 
	<div class="about_content cssbox_body"> 
		EngineY is an easy to use social network framework implemented in <b>Ruby 
		on Rails</b> that is easy to customize and deploy as your own powerful and 
		feature packed social media site. <b>Empower</b> users with their own blogs. 
		<b>Enhance collaboration</b> with forums, groups and events. Let your users post 
		<b>Twitter-like status messages</b>. Track all the activity on your site with 
		a live activity stream. Build a custom client to access all of your social 
		data using EngineY's <b>RESTful API</b>.<br/><br/> 
		<button id="getit_btn" onclick="location.href='http://code.google.com/p/enginey'">Get It</button> 
		<br/><br/> 
		<a href="http://www.rubymi.org">See it live...</a> 
	</div> 
</div> 