<div id="more_content"> 
	<div class="title">HELP US GROW...</div> 
	<a href="http://digg.com/programming/EngineY">Digg this page</a> , 
	<a href="http://delicious.com/save?jump=yes&url=http%3A%2F%2Fwww.enginey.com">bookmark it on Del.icio.us</a>, or 
	<a href="http://clicktotweet.com/t6nL6">Tweet It!</a> 
	<br/><br/> 
	<a href="http://twitter.com/engineyfw"><%= image_tag 'enginey.com/twitter6.png' %></a> 
</div> 