<div id="screen_images"> 
	<div class="screen_img"> 
		<a href="images/ss1.jpg">
			<%= image_tag 'enginey.com/ss1-tb.jpg' %>
		</a> 
	</div> 
	<div class="screen_img"> 
		<a href="images/ss2.jpg">
			<%= image_tag 'enginey.com/ss2-tb.jpg' %>
		</a> 
	</div> 
</div> 