<h1>Listing ideas</h1>

<table>
  <tr>
  </tr>

<% for idea in @ideas %>
  <tr>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New idea', new_idea_path %>
