<h1>Editing blog_post_topic</h1>

<% form_for(@blog_post_topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @blog_post_topic %> |
<%= link_to 'Back', blog_post_topics_path %>