<h2 class="admin_page_title">API</h2>

<div class="admin_page_desc">
This admin section is where you can manage users of your site's API.
</div>

<div class="admin_section_links">
	<ul>
		<li><%= link_to 'Keys', '/admin/api_keys' %></li>
		<li><%= link_to 'Test Center', '/admin/api_test' %></li>
	</ul>
</div>