<h2>API Test Center&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>(Coming Soon)</i></h2>

<label>Enter your query:</label>
<input type="text" size="60" value="" name="query_string" id="query_string">

<br/><br/><br/><br/>

<label>Results</label>
<textarea width="160"></textarea>