<h2 class="ic-db">Groups</h2>
<div class="pad-lr">
	<%= jqgrid("Site Groups", "groups", "/admin/groups",
		[
			{ :field => "id", :label => "ID", :width => 35, :resizable => false, :align => 'center' },
			{ :field => "name", :label => "Name", :width => 200, :editable => true },
			{ :field => "creator_id", :label => "Creator ID", :width => 75, :align => 'center' },
			{ :field => "featured", :label => "Featured", :width => 100, 
					:editable => true, :edittype => "checkbox", :editoptions => {:value => "10" }, 
					:align => 'center' },		
		],
		{ :height => 300, :rows_per_page => 30, :add => true, 
   		  :edit => true, :inline_edit => false, 
		  :delete => true, :edit_url => "/admin/post_group_data" }
	)%>
</div>


