<h2 class="admin_page_title">Administration</h2>

<div class="admin_page_desc">
From within the Administration console you can manage all aspects of your EngineY based social network site.
The left-side navigation provides access to all of the admin features that you have available.
</div>

