<h2>Edit Network URL</h2>
<form action="/admin/save_network">
	<input type="hidden" name="id" value="<%= @network.id %>" />
	<input type="text" name="network_url" value="<%= @network.url %>" />
	<br/>
	<input type="submit" value="Save" />
</form>