<div id="settings">
	<fieldset>
		<label>Network Name:</label>
		<span><%= @network.name %></span>
	</fieldset>
	<fieldset>
		<label>Network Description:</label>
		<span><%= @network.description %></span>
	</fieldset>
	<fieldset>
		<label>Site Theme:</label>
		<span style="font-weight:bold;">Current Theme:</span>
		<span><%= Theme.find(:first).name %></span>
		<%= link_to 'Change Theme', '/admin/theme/edit' %>
	</fieldset>
</div>