<div id="settings">
	<fieldset>
		<label>Network Name:</label>
		<span><%= @network.name %></span>
	</fieldset>
	<fieldset>
		<label>Network Description:</label>
		<span><%= @network.description %></span>
	</fieldset>
</div>