<h1>Listing nav_items</h1>

<table>
  <tr>
  </tr>

<% @nav_items.each do |nav_item| %>
  <tr>
    <td><%= link_to 'Show', nav_item %></td>
    <td><%= link_to 'Edit', edit_nav_item_path(nav_item) %></td>
    <td><%= link_to 'Destroy', nav_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nav_item', new_nav_item_path %>