.col1 {
	width: 860px;
	font-family: Arial, Helvetica, sans-serif;
}

#network_detail {
	float: left;
	clear: both;
	width: 400px;
	margin-left: 30px;
}

#admin_user {
	float: left;
	padding-left: 20px;
	margin-left: 15px;
	border-left: 1px solid gray;
}

#widget_setup {
	float: left;
	clear: both;
	width: 750px;
	margin-top: 30px;
}

label {
	clear: both;
	float: left;
	font-weight: bold;
	line-height: 3em;
	color: gray;
	font-size: 1.2em;
}

#admin_user label {
	width: 155px;
}

#network_detail label {
	width: 100px;
}

input {
	float: left;
}

textarea {
	float: left;
}

#col1_area {
	float: left;
	width: 150px;
}

#col2_area {
	float: left;
	width: 150px;
}

#col3_area {
	float: left;
	width: 150px;
}

#menu_area {
	padding-left: 30px;
}

.column_1 {
	float: left;
	width: 180px;
}

.column_2 {
	float: left;
	margin-left: 10px;
}

#buttons {
	float: left;
	clear: both;
	margin-left: 550px;
	margin-top: 30px;
}

.notice {
	font-size: 12pt;
}

#sample_data {
	float: left;
	clear: both;
	margin-top: 20px;
}

#sample_data label {
	float: left;
}

#sample_data input {
	float: left;
	margin-top: 13px;
}
