
#main .col1 h1, #main .col1 h2 {
	float: left;
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}

#links_links {
	margin-top: 15px;
	float: left;
	clear: both;
}

#add_link, #links_table {
	float: left;
	clear: both;
	background-color: #ffffff;
	width: 650px;
	padding: 25px;
}

#links_table {
	margin-top: 5px;
}

#links_all {
	float: left;
}

#links_my {
	float: left;	
	margin-left: 50px;
}

#links_add {
	float: left;
	margin-left: 100px;
}

