.main {
	background: #BED6E3;		
}

#main {
	background: #BED6E3 url(/images/xg-v3.gif) repeat-y;
	min-height:400px;
	padding:10px 0 10px 10px;
	width:945px;
}

#footer {
	background-color:#3F484B !important;
	background-color:#aa2f2f !important;
	background-color:#8c0600 !important;
	color:#FFFFFF;
	float:left;
	font-size:0.95em;
	padding:10px;
	width:935px;
}

#nav_list li, #nav_list_right li {
	float:left;
	font-weight:bold;
	margin:0 0 0 3px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-size:1em;
	margin-bottom:0.4em;
	padding: 0px;
	height: 28px;
}

#nav_list li a, #nav_list_right li a {
	font-size: 1.00506em;
	display:block;
	font-size: 10pt;
	padding:0 6px;
	padding-top: 6px;
	text-decoration: none;
	color: white;
	height: 28px;
}

#nav_list li a:hover, #nav_list_right li a:hover {
	background-color:#BED6E3;
	color:#222222 !important;
}


#nav_list #current_menu a, #nav_list_right #current_menu a {
	color: black;
}

#foot_left {
	float: left;
	margin-bottom: 0.4em;
}

#foot_right {
	float: right;
}

#foot_right a {
	color: white;
}

#user_name {
	font-weight: bold;
	font-size: 10pt;
}

#sign_up {
	font-weight: bold;
	font-size: 12pt;
}

#sign_in {
	font-weight: bold;
	font-size: 10pt;
	line-height: 2.5em;
}

#sign_out {
	line-height: 2.5em;
}

.user_section {
	text-align: center;
}

.user_section a {
	text-decoration: none;
	color:#283F4B;
	line-height: 1.5em;
}

#quick_add_select {
	width: 85%;
	margin-top: 10px;
}

#login_form {
	background-color: #BED6E3;
	width: 50%;
	padding: 25px;
}

#login_form .form_field {
	margin-bottom: 20px;
}

#login_form .form_field label {
	float: left;
	display: block;
	width: 80px;
	text-align: right;
	clear: both;
}

#login_form .form_field input {
	float: left;
	margin-left: 15px;
	width: 150px;
}

#login_btn {
	float: left;
	clear: both;
	margin-left: 120px;
}

.current_menu {
	background-color: #BED6E3;
}

.no_photo_user_widget {
	width: 48px;
	height: 48px;
}

.user_widget_user {
	float: left;
	margin-left: 5px;
}

.user_widget_user a, .user_widget_user a img, .groups_widget_group a, .groups_widget_group a img {
	border: none;
}

.groups_widget_photo {
	float: left;
}

.group_name, .event_name {
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;
}

.group_name a, .event_name a {
	color: #aa2f2f;
}




