body {
	background: url(/images/rubymi_bg2.gif);
}

#main {
	background: #BED6E3 url(/images/xg-v3.gif) repeat-y;
}

#header {
	background-image: url(/images/rubymi_header2.jpg);
	height: 164px;
}

#content {
	background: url(/images/xg-v3.gif) repeat-y;
}

#header #masthead {
	height: 120px;
}

#footer {
	background-color:#3F484B !important;
	background-color:#aa2f2f !important;
	background-color:#8c0600 !important;
	color:#FFFFFF;
	float:left;
	font-size:0.95em;
	padding:7px;
	width:941px;
}

#footer img {
	border: none;
}

.nav_list_link {
	color: white;
}

.nav_list_link:visited {
	color: white;
}

#nav_list #current_menu a, #nav_list_right #current_menu a {
	color: black;
}

.current_menu {
	background-color: #BED6E3;
}





