body {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	background: none;
	background-color: white;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,clean,sans-serif;
	font-size: 8pt;
	color: #333;
}  

#header {
	background-image: url(/images/mycompany_header.jpg);
	color: #283F4B;
	height: 164px;
}

#main {
	background: #BED6E3 url(/images/xg-v3.gif) repeat-y;
}

#header #masthead {
	height: 120px;
}

#footer {
	background-color:#669999 !important;
	color:#FFFFFF;
	float:left;
	font-size:0.95em;
	padding:7px;
	width:941px;
}

#footer img {
	border: none;
}

.nav_list_link {
	color: white;
}

.nav_list_link:visited {
	color: white;
}

#nav_list #current_menu a, #nav_list_right #current_menu a {
	color: black;
}

#nav_list .nav_list_item a, #nav_list_right .nav_list_item a:visited {
	color: white;
}

.current_menu {
	background-color: #BED6E3;
}

.widget_content {
	padding-bottom: 0px;
}

.column_2 {
	float: left;
	padding:0 5px;
	width:490px;
}

.profile .column_2 {
	width: 540px;
}







