<ul id="nav-menu">
	<% if @page == 'dashboard' %>
		<li><a href="/admin" class="active">Dashboard</a></li>
	<% else %>
		<li><a href="/admin">Dashboard</a></li>
	<% end %>
	<% if @page == 'users' %>
		<li><a href="/admin/users" class="active">Users</a></li>
	<% else %>
		<li><a href="/admin/users">Users</a></li>
	<% end %>
	<% if @page == 'blog_posts' %>
		<li><a href="/admin/blog_posts" class="active">Blog Posts</a></li>
	<% else %>
		<li><a href="/admin/blog_posts">Blog Posts</a></li>
	<% end %>
	<% if @page == 'photos' %>
		<li><a href="/admin/photos" class="active">Images</a></li>
	<% else %>
		<li><a href="/admin/photos">Images</a></li>
	<% end %>
	<% if @page == 'pages' %>
		<li><a href="/admin/pages" class="active">Pages</a></li>
	<% else %>
		<li><a href="/admin/pages">Pages</a></li>
	<% end %>
	<% if @page == 'settings' %>
		<li><a href="/admin/settings" class="active">Settings</a></li>
	<% else %>
		<li><a href="/admin/settings">Settings</a></li>
	<% end %>
</ul>