<h2>Edit Analytics Code</h2>
<form action="/admin/save_analytics">
	<input type="hidden" name="id" value="<%= @analytics.id %>" />
	<textarea id="analytics_text" name="analytics_text" rows="20" cols="70"><%= @analytics.body %></textarea><br/>
	<input type="submit" value="Save" />
</form>
