<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
	<div id="thankyou_msg">
		<div class="msg_box">
			<b>Privacy Policy</b><br/><br/>
			<span style="font-size:10pt;">
			Basically, all information that you as a visitor or registered user of this
			site choose to provide is used solely for the purposes of communicating and
			networking with other members of the RubyMI community.
			<br/><br/>
			No personally identifiable information gathered on this site will be sold 
			or shared with any third parties.
			<br/><br/>
			Your email address may be used by this site to communicate with you about
			information related to this site, such as site updates, new posts, etc.
			<br/><br/>
			Aggregate and anonymous information about the visitors and users of this
			site may be shared with third parties for the purposes of attracting
			advertisers to support the site.
			</span>
		</div>
	</div>
