<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<div id="main">

	<div class="column_1" id="thankyou_msg">
		<div class="msg_box">


<Font face="Arial, Helvetica, Garmond" size="2">

<center><b><h2> PRIVACY POLICY</b></h2></center>
We understand that privacy online is important to users of our Site. This statement 
governs our privacy policies with respect to those users of the Site ("Visitors") who 
visit and make use of the various services offered by RubyMI.org.<br/>

<br/>
<b>"Personally Identifiable Information"</b><br/>
refers to any information that identifies or can be used to identify, contact, or 
locate the person to whom such information pertains, including, but not limited to, 
name, address, phone number, fax number, and email address. Personally Identifiable 
Information does not include information that is collected anonymously (that is, 
without identification of the individual user) or demographic information not connected 
to an identified individual.<br/><br/>

<b>What Personally Identifiable Information is collected? </b>
<br/>
We may collect basic user profile information from all of our Visitors. We collect 
the following additional information from our authorized users: the names, addresses, 
phone numbers and email addresses of authorized users.<br/>
<br/>
<b>How does the Site use Personally Identifiable Information?</b><br/>
We use Personally Identifiable Information to customize the Site, to make appropriate 
service offerings. We may email Visitors and Authorized Customers about information 
related to the subject matter of the Site. We may also use Personally Identifiable 
Information to contact Visitors and Authorized Customers in response to specific 
inquiries, or to provide requested information.
<br/><br/>
<b>Are Cookies Used on the Site?</b><br/>
Cookies are used for a variety of reasons. We use Cookies to obtain information about the 
preferences of our Visitors and the services they select. We also use Cookies for security 
purposes to protect our Authorized Customers. For example, if an Authorized Customer is 
logged on and the site is unused for more than 10 minutes, we will automatically log the 
Authorized Customer off.<BR>
<BR>
<b>How does RubyMI.org use login information? </b><br/>
RubyMI.org uses login information, including, but not limited to, IP addresses, ISPs, and browser types, to analyze trends, administer the Site, track a user's movement and use, and gather broad demographic information.<BR>
<br/>
Disclosure of Personally Identifiable Information to comply with law. We will disclose Personally Identifiable Information in order to comply with a court order or subpoena or a request from a law enforcement agency to release information. We will also disclose Personally Identifiable Information when reasonably necessary to protect the safety of our Visitors and Authorized Customers.
</font>
<Font face="Arial, Helvetica, Garmond" size="2">
<br>
<BR>
<BR>
<center>
© 2009 <b>RubyMI.org</b> , <font size="-1">All rights reserved.<br>
Unauthorized duplication or publication of any materials
from this Site is expressly prohibited.</font>
<BR>
<BR>
</center>
 <BR>
</font>

		</div>
	</div>


	<div class="column_3">
		<%= render :partial => 'users/user_control_widget' %>
	</div>
	<div style="clear:both;"></div>
</div>