
<div id="status_post_list">
	<div class="status_post">
		<div class="post_user_img">User Image</div>
		<div class="post_user_txt">
			<span class="post_user_name">
				<a href="">User Name</a>
			</span>
			<span class="post_body">Post Body</span>
		</div>
	</div>
	<div class="status_post">
		<div class="post_user_img">User Image</div>
		<div class="post_user_txt">
			<span class="post_user_name">
				<a href="">User Name</a>
			</span>
			<span class="post_body">Post Body</span>
		</div>
	</div>
	<div class="status_post">
		<div class="post_user_img">User Image</div>
		<div class="post_user_txt">
			<span class="post_user_name">
				<a href="">User Name</a>
			</span>
			<span class="post_body">Post Body</span>
		</div>
	</div>
</div>