<td class="column round-right" id="side_base">
	<div id="side">
		<div class="section profile-side" id="profile">
			<ul class="about vcard entry-author">
				<li><span class="label">Name</span> <span class="fn">Betty</span></li>
			</ul>
			<div class="stats">
				<table>
					<tbody>
						<tr>
							<td>
								<a class="link-following_page" id="following_count_link" href="/heyyou/following" name="following_count_link"><span class="stats_count numeric" id="following_count">0</span> <span class="label">Following</span></a>
							</td>
							<td>
								<a class="link-followers_page" id="follower_count_link" href="/heyyou/followers" name="follower_count_link"><span class="stats_count numeric" id="follower_count">10</span> <span class="label">Followers</span></a>
							</td>
							<td>
								<a class="link-lists_page" id="lists_count_link" href="/heyyou/lists/memberships" name="lists_count_link"><span class="stats_count numeric" id="lists_count">0</span> <span class="label">Listed</span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<ul class="sidebar-menu" id="primary_nav">
			<li id="profile_tab" class="active">
				<a accesskey="u" href="/heyyou"><span class="stat_count" id="update_count">0</span><span>Tweets</span></a>
			</li>
			<li id="profile_favorites_tab">
				<a accesskey="f" href="http://twitter.com/heyyou/favorites"><span>Favorites</span></a>
			</li>
		</ul>
		<hr />
		<div id="profile_actions">
			<h2 id="fm_menu" class="sidebar-title">
				<span>Actions</span>
			</h2>
			<ul id="sidebar_actions_for_user_760262" class="sidebar-actions unblocked">
				<li class="unblock-sidebar-action">
					<a style="color: grey;" href="#">unblock</a> heyyou
				</li>
				<li class="block-sidebar-action">
					<a href="/blocks/confirm/760262">block</a> heyyou
				</li>
				<li class="report-for-spam-sidebar-action">
					<a href="#">report for spam</a>
				</li>
			</ul>
		</div>
		<hr />
		<div id="following">
			<h2 id="fm_menu" class="sidebar-title"><span>Following</span></h2>
			<div class="sidebar-menu">
				<div id="following_list"></div>
			</div>
		</div>
	</div>
</td>