<%= stylesheet_link_tag '/javascripts/dojotoolkit/dojox/grid/resources/tundraGrid.css' %>
<style type="text/css">  
	#grid {     
		border: 1px solid #ccc;    
		width: 100%;    
		height: 30em;  
	}
</style>

<%= javascript_include_tag 'dojotoolkit/dojo/dojo', :djConfig => 'isDebug: false, parseOnLoad: true' %>

<script type="text/javascript">  
	dojo.require("dojox.data.JsonRestStore");  
	dojo.require("dojox.grid.DataGrid");  
	dojo.require("dojo.parser");  
	
	var columns = <%= @data_set.columns.to_json %>;  
	var view1 = {    
		cells: [      
			columns.map(function(c) {        
				return { name: c.name, field: 'c_' + c.id };      
			})    
			]  };  
	var layout = [ view1 ];  
	var url = '<%= formatted_data_set_rows_path @data_set, :json %>';  
	var store = new dojox.data.JsonRestStore({target: url});
</script>

<div class="tundra">  
	<div id="grid" dojoType="dojox.grid.DataGrid" store="store" structure="layout" jsId="grid" rowsPerPage="40"></div>
</div>