<h2>Edit Network Name</h2>
<form action="/admin/save_network">
	<input type="hidden" name="id" value="<%= @network.id %>" />
	<input type="text" name="network_name" value="<%= @network.name %>" />
	<br/>
	<input type="submit" value="Save" />
</form>