<div class="theme-block">	
	<% form_for @theme, :url => admin_theme_path, :html => { :method => :put } do |f| -%>
		<%= f.hidden_field :name, :value => theme[:name] %>
		<div class="theme_info">
			<span class="theme_name"><%= theme[:name] %></span><br/>
			<%= theme[:description] %>
		</div>
		<div class="theme_image">
			<%= image_submit_tag theme[:preview_image], 
			         :id => "#{theme[:name].parameterize}", 
			         :name => "#{theme[:name].parameterize}" %>
		</div>	
	<% end -%>	
</div>

