<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<div class="photo_brief">
	<div class="photo_brief_photo">
		<%= link_to image_tag(photo.public_filename(:member)), photo_url(photo) %>
	</div>
	<div class="photo_brief_text">
		<% if photo.user %>
			by <%= link_to photo.user.name, user_path(photo.user) %>
		<% end %>
	</div>
</div>