<h1>Listing ey_modules</h1>

<table>
  <tr>
  </tr>

<% @ey_modules.each do |ey_module| %>
  <tr>
    <td><%= link_to 'Show', ey_module %></td>
    <td><%= link_to 'Edit', edit_ey_module_path(ey_module) %></td>
    <td><%= link_to 'Destroy', ey_module, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ey_module', new_ey_module_path %>