<h3>Visitors Map</h3>
<script type="text/javascript" src="http://widgets.amung.us/map.js"></script><script type="text/javascript">WAU_map('t0s588ne', 180, 90, 'classic', 'spinner-red')</script>

<h3>Recommend Me</h3>
<a href="http://www.workingwithrails.com/person/5848-timothy-fisher">
<img src="http://blog.timothyfisher.com/wp-content/uploads/2009/08/compact-small.jpg" />
</a>

<h3>Live Visitors</h3>
<!-- Wowzio Widget START -->
<div id='wow_wwrape5c9' rel='activity'><script type='text/javascript' src='http://widgets.wowzio.net/widgets/jscript?wtype=activity&w=auto&h=362&ti=Live%20Activity%20Feed&tc=FFFFFF&hc=17468B&bc=75A3F2&txc=01309C&lc=FFFFFF&ni=10&tx=SOLID_COLOR&ap=yes&ii=yes&ir=yes&sb=yes&sv=3&cid=27&ef=fade&ids=67624'></script><div id='wow_signe5c9'><a id='wow_sre5c9' href='http://www.wowzio.com' title='Live Activity Feed Blog Widgets'>Wowzio</a><div id='wow_sle5c9'><a class='wow_bl bl_f' id='gwl_e5c9' href='http://www.wowzio.com/widgets/designer?ids=67624&wtype=activity&cid=27' title='grab/edit this widget'>grab this</a> &middot; <a class='wow_bl' id='sml_e5c9' href='http://www.wowzio.com/widgets/seewidgets?ids=67624&cid=27' title='widgets for Timothy Fisher%27s Blog'>technology</a> blog<div class='wowclear'></div></div></div></div>
<!-- Wowzio Widget END -->
