body {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	background-color: #e00a16;
	text-align: center;
}

hr {
	color: #91b2d5;
}

#wrapper {
	margin: auto;
	width: 955px;
	background-color:white;
	text-align: left;
}

#head {
	background: url(../../../images/enginey.com/enginey_hdr.jpg);
	width: 955px;
	height: 165px;
	text-align: right;
	padding-top: 20px;
}

#nav {
	float: left;
	width: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

#main {
	float: left;
	padding-bottom: 20px;
	width: 670px;
}

#footer {
	float: left;
	clear: both;
	width: 955px;
	border-top: 3px solid black;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

#head img {
	margin-right: 30px;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#nav ul li {
	line-height: 2em;
}

#nav .nav_block ul {
	list-style-type: circle;
}

#nav .nav_block ul li {
	line-height: 1.2em;
	padding-left: 5px;
	margin-left: 20px;
	font-style: italic;
}

#twitter_link img, #rails_link img, #dojo_link img, #download_link img {
	border: 0;
}


#main ul {
	float: left;
}

#main_txt {
	margin-right: 100px;
	margin-top: 20px;
	line-height: 1.3em;
}

.nav_block {
	width: 165px;
	padding-left: 15px;
	margin-bottom: 15px;
	color: #333333;
}

.nb_title {
	font-weight: bold;
	line-height: 1.5em;
	color: #5b86b3;
}

.nb_body {
	font-style: italic;
}

.keyword {
	color: blue;
	font-weight: bold;
}

#dojo_link {
	margin-right: 30px;
}

.team_member {
	margin-top: 20px;
	width: 600px;
}

.team_image {
	float: left;
	width: 100px;
}

.team_text {
	float: left;
	width: 425px;
}

.member_name {
	font-weight: bold;
	float: left;
	line-height: 1.5em;
}

.member_bio {
	float: left;
	clear: both;
	width: 425px;
}

.contribute-main {
	margin-top: 50px;
}

#doc-main {
	margin-top: 50px;
	width: 600px;
}

#features {
	float: left;
}

#roadmap {
	float: left;
	clear: both;
	margin-top: 25px;
	width: 600px;
}

#feature_intro, #roadmap_intro {
	float: left;
	margin-bottom: 25px;
}
